<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DLToolkit.Forms.Controls.FlowListView" version="2.0.11" targetFramework="xamarinios10" />
  <package id="ExifLib.PCL" version="1.0.2-pre01" targetFramework="xamarinios10" />
  <package id="InTheHand.Forms" version="1.0.2018.1115" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="Plugin.Share" version="7.1.1" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.1.5.188" targetFramework="xamarinios10" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="2.0.2" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.4.11" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="4.0.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.CloudMessaging" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="4.0.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.3.0-pre05" targetFramework="xamarinios10" />
</packages>